<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Grow Your Business</title>
</head>
<body>
    {{>navbar}}

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-start align-items-center flex-column">
                        <h1>WE WILL HELP YOU TO</h1>  
                        <h1>GROW YOUR BUSINESS</h1>
                        <p> We Are The Team Of <span class="bold-style">Professional Developers</span> </p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="images/growth.svg" alt="Illustration of business growth">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>about}}
    
    {{>service}}

    {{>map}}

    {{>contact}}

    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.js" type="text/javascript"></script>
</body>
</html>
