<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">Grow your business with us</p>
            <div class="row">
                <div class="col-md-6 col-12">
                    <figure class="text-center">
                        <img src="images/about.svg" alt="About us image" class="img-fluid">
                    </figure>
                </div>
                <div class="col-md-6 col-12 d-flex justify-content-start align-items-center flex-column">
                    <h2 class="text-center">WE ARE THE PROFESSIONAL DEVELOPER</h2>
                    <h2 class="text-center">GROW YOUR BUSINESS</h2>
                    <p>Welcome to <span class="bold-style">Thapa Technicals</span>, your number one source for all things. We're dedicated to giving you the best of work.</p>
                    <button class="btn-style btn-primary">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>
