<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-lg-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">Grow your business with us</p>
            <div class="row">
                <!-- Service Box 1 (Settings) -->
                <div class="col-md-4 col-12">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon text-center m-3 p-3">
                                <img src="https://imgur.com/6NKPrhO.png" alt="Settings Icon" class="img-fluid">
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nesciunt voluptate dolor ad tempore?</p>
                        </div>
                    </div>
                </div>
                                <!-- Service Box 2 (privacy) -->
                <div class="col-md-4 col-12">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon text-center m-3 p-3">
                                <img src="https://imgur.com/AgyneKA.png" alt="Settings Icon" class="img-fluid">
                            </div>
                            <h4>Privacy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nesciunt voluptate dolor ad tempore?</p>
                        </div>
                    </div>
                </div>
                                <!-- Service Box 3 (backups) -->
                <div class="col-md-4 col-12">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon text-center m-3 p-3">
                                <img src="https://imgur.com/vdH9LKi.png" alt="Settings Icon" class="img-fluid">
                            </div>
                            <h4>Backups</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nesciunt voluptate dolor ad tempore?</p>
                        </div>
                    </div>
                </div>

                                <!-- Service Box 4 (ssl) -->
                <div class="col-md-4 col-12">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon text-center m-3 p-3">
                                <img src="https://imgur.com/v6OnUqu.png" alt="Settings Icon" class="img-fluid">
                            </div>
                            <h4>SSL secured</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nesciunt voluptate dolor ad tempore?</p>
                        </div>
                    </div>
                </div>

                                <!-- Service Box 5 (database) -->
                <div class="col-md-4 col-12">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon text-center m-3 p-3">
                                <img src="https://imgur.com/VzjZw9M.png" alt="Settings Icon" class="img-fluid">
                            </div>
                            <h4>Database</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nesciunt voluptate dolor ad tempore?</p>
                        </div>
                    </div>
                </div>

                                <!-- Service Box 6 (speedup) -->
                <div class="col-md-4 col-12">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon text-center m-3 p-3">
                                <img src="https://imgur.com/6NKPrhO.png" alt="Settings Icon" class="img-fluid">
                            </div>
                            <h4>Speedup</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nesciunt voluptate dolor ad tempore?</p>
                        </div>
                    </div>
                </div>

                <!-- Additional boxes with different classes for hover effects -->
                <!-- Repeat for each service, changing the class as needed for different hover effects -->
            </div>
        </div>
    </div>
</div>